.last-news{
    margin-bottom: 20px;
    @media(min-width: 992px){
        margin-bottom: 36px;
    }

    .news-item-data{
        width: 90%;
        margin: 0 auto;
        position: relative;
        margin-top: -90px;
        background-color: $light;
        padding: 22px 18px 57px 18px;
        p{
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 1px;
            font-family: $bodoni;
            font-style: italic;
            margin-bottom: 17px;
        }
        h3{
          display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;  
        }
        a{
            font-size: 1.6rem;
            font-family: $lato;
            font-weight: 400;
            text-transform: uppercase;
            color: $body-color;   
        }
    }
}

