$services-item-bg: #F5F5F5;


.services-section{
    margin-bottom: 55px;
    @media(min-width: 992px){
        margin-bottom: 80px;
    }
    @media(min-width: 1200px){
        margin-bottom: 111px;
    }
    .services-item{
        background-color: $services-item-bg;
        &:nth-of-type(even){
            background-color: $pink;
        }
        @media(min-width: 576px){
            &:nth-of-type(odd) .services-item-image{
                order: 2;
            }
        }
        .services-item-data{
            padding: 15px 25px 45px 25px;
            @media(min-width: 768px){
                padding: 0 35px;
            }
            @media(min-width: 992px){
                padding: 0 75px;
            }
            @media(min-width: 1200px){
                padding: 0 95px;
            }
            h3{
                font-size: 2rem;
                line-height: 2.4rem;
                font-family: $lato;
                font-weight: 400;
                text-transform: uppercase;
                margin-bottom: 26px;
                @media(min-width: 768px){
                    font-size: 2.6rem;
                    line-height: 3.4rem;
                }
                @media(min-width: 1200px){
                    font-size: 3.6rem;
                    line-height: 4.4rem;
                    margin-bottom: 36px;
                }
            }
            .learn-more{
                font-size: 1.4rem;
                border: 1px solid $body-color;
                letter-spacing: 0.5px;
                padding: 14px 36px;
                &:hover{
                    background-color: $body-color;
                    color: $light;
                }
            }
        }
    }
}
